* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
}

.checkbox {
    padding-left: 45px;
    margin-left: 50px;
    display: block;
}

.checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.checkbox__indicator {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: -45px;
    background-color: white;
    transform: rotate(180deg);
    border: 1px solid gray;
}

.checkbox__indicator:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: red;
    z-index: 20;
    transform: rotate(60deg) translate(21px, 0px);
}

.checkbox__indicator::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: red;
    z-index: 20;
    transform: rotate(18deg) translate(11px, 1px);
}

.checkbox__input:checked + .checkbox__indicator::after,
.checkbox__input:checked + .checkbox__indicator::before {
    background-color: green;
}